service vendor.sensors-hal-multihal-bosch /vendor/bin/hw/android.hardware.sensors-service.multihal.bosch
    class hal
    user system
    group system wakelock context_hub
    task_profiles ServiceCapacityLow
    capabilities BLOCK_SUSPEND
    rlimit rtprio 10 10